.blogCard {
    display: flex;
    flex-direction: column;

}
.blogTitle {
    font-size: 25px;
}

.blogCont {
    display: flex;
    gap: 10px;
    .blogDesg {
        opacity: 40%;
    }
}

.blogDesc {
    width: 700px;
}

.blogHeading {
    font-size: 2.5rem;
    font-weight: 600;
}

.blogCardCont {
    display: flex;
    flex-direction: column;
    gap: 15px;

}