.footer {
    .footerComp {
        width: fit-content;
        margin: auto;

        ul {
            margin: 0;
            padding: 0;
            padding-left: 20px;
            display: flex;
            list-style: none;
            gap: 20px;

            a {
                text-decoration: none;
                color: black;

                svg {
                    font-size: 23px;
                }
            }
        }
    }
}