.footer {
    display: flex;
    height: 200px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .footerComp {
        width: fit-content;
        margin: auto;


        ul {
            margin: 0;
            padding: 0;
            padding-left: 20px;
            display: flex;
            list-style: none;
            gap: 50px;

            a {
                text-decoration: none;
                color: black;

                svg {
                    font-size: 35px;
                       
                }
            }
        }
    }
}