.workCont {
    gap: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.workDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    padding-top: 10px;
}

.workTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.workYear {
    background-color: #142850;
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 2px 8px;
}

.workDesc {
    width: 500px;
}

.workImg {
    margin: 10px 20px 10px 50px;
}

