* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    display: flex;
    flex-direction: row-reverse;
    /* padding-top: 27px;
    padding-right: 60px;
    padding-bottom: 27px; */
    padding: 27px 60px;
}


.heading2 {
    display: flex;
    gap: 50px;
    width: fit-content;
    height: fit-content;
    justify-content: space-evenly;
    align-content: flex-end;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.cont {
    display: flex;
    justify-content: space-between;
}

.name-cont {
    display: flex;
    flex-direction: column;
    width: 600px;
    font-weight: 500;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 20px;

}

.img1 {
    border-radius: 50%;
    height: 243px;
    width: 243px;
    border: 1px solid black;
    margin: 40px 145px;
}

.img-cont {
    display: flex;
    /* padding: 50px 243px; */
    overflow: hidden;
    align-items: flex-end;


}

.cont .name-cont {
    padding-top: 50px;
    padding-left: 30px;
    align-items: flex-start;
}

.cont .desc {
    font-size: large;
    display: inline-flex;
}

.btn {
    border: none;
    width: 208px;
    height: 47px;
    display: inline-flex;
    justify-content: center;
    background-color: #ff6464;
    color: white;
    font-weight: 600;
    font-size: large;
    line-height: 47px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.cont2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #EDF7FA;
    margin-top: 15px;
}

.box1 {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #EDF7FA;
    gap: 800px;
    margin-top: 10px;

}

h {
    font-size: medium;
    font-weight: bold;
}

h4 {
    text-decoration: underline;
    color: #00a8cc;
}

.box2 {
    width: 418px;
    height: 295px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box3 {
    width: 418px;
    height: 295px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    height: 320px;
}

.heading4 {
    margin-left: 50px;
    font-size: larger;
    font-weight: 600;
}

.heading5 {
    margin-left: 50px;
    font-size: larger;
    font-weight: 600;
}

.date {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #21243d;
    display: flex;
}

.cont3 {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.desc1 {
    display: flex;
    margin-left: 50px;
    width: 368px;
    height: 117px;
}

.maincont {
    display: flex;
    flex-direction: column;
    width: 1500px;
    margin-left: 190px;
    margin-top: 330px;

}

.work {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.posts {
    margin-top: 10px;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 75%;
}

.img2 {
    margin: 10px 20px 10px 50px;
}

.design {
    gap: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.dash {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;

}

.date1 {
    background-color: #142850;
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 2px 8px;
}

.design2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    padding-top: 10px;
}

.desc4 {
    width: 500px;
}

.work-header {
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35px;
}
